<div class="row" id="proBanner">
    <div class="col-md-12 grid-margin">
        <div class="card bg-gradient-success-cellulant border-0">
            <div class="card-body py-3 px-4 d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-0 text-white font-weight-medium" id="text1">
                    {% if message %}{{ message }} {% else %}This is a test system, don't use
                        it for live products.{% endif %}</p>
                <div class="d-flex">
                    <button id="bannerClose" class="btn border-0 p-0">
                        <i class="mdi mdi-close text-white"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>