{% load static %}
{% block chart %}
    {#    {% for key , value in requests.items%}{{ key }},{% endfor %}#}
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Active Requests</h4>
                    <canvas id="requests"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Requests</h4>
                    <canvas id="all_req"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Active Payments</h4>
                    <canvas id="payments"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Payments</h4>
                    <canvas id="all_payments"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendors/chart.js/dist/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/checkout_charts.js' %}"></script>
    <script>
        const ctx = document.getElementById('requests').getContext('2d');
        const chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [{% for key , value in requests.items%}"{{ key }}",{% endfor %}],
                datasets: [{
                    label: '{{total_requests}} Requests',
                    backgroundColor: 'rgba(108,209,239,0.2)',
                    borderColor: '#6CD1EF',
                    data: [{% for key , value in requests.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>

    <script>
        // get barc chart
        const ctxL = document.getElementById("all_req").getContext('2d');
        const myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: [{% for key , value in requests.items%}"{{ key }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [{
                    label: "Accepted",
                    data: [{% for key , value in accepted_requests.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: [
                        'rgba(0,169,224,0.2)',
                    ],
                    borderColor: [
                        '#6CD1EF',
                    ],
                    borderWidth: 2
                },
                    {
                        label: "Rejected",
                        data: [{% for key , value in rejected_requests.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        backgroundColor: [
                            'rgba(249,132,202,0.2)',
                        ],
                        borderColor: [
                            '#F984CA',
                        ],
                        borderWidth: 2
                    },
                    {
                        label: "Expired",
                        data: [{% for key , value in expired_requests.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        backgroundColor: [
                            'rgba(246,80,88,0.33)',
                        ],
                        borderColor: [
                            '#F65058',
                        ],
                        borderWidth: 2
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>

{#    FOR PAYMENTS #}
    <script>
        const ctxpay = document.getElementById('payments').getContext('2d');
        const chartpay = new Chart(ctxpay, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [{% for key , value in payments.items%}"{{ key }}",{% endfor %}],
                datasets: [{
                    label: '{{total_payments}} Payments',
                    backgroundColor: 'rgba(108,209,239,0.2)',
                    borderColor: '#6CD1EF',
                    data: [{% for key , value in payments.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>

    <script>
        // get barc chart
        const ctxL_Pay = document.getElementById("all_payments").getContext('2d');
        const myLineChart_Pay = new Chart(ctxL_Pay, {
            type: 'line',
            data: {
                labels: [{% for key , value in payments.items%}"{{ key }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [{
                    label: "Accepted",
                    data: [{% for key , value in accepted_payments.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: [
                        'rgba(59,210,61,0.2)',
                    ],
                    borderColor: [
                        '#3BD23D',
                    ],
                    borderWidth: 2
                },
                    {
                        label: "Rejected",
                        data: [{% for key , value in rejected_payments.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        backgroundColor: [
                            'rgba(249,132,202,0.2)',
                        ],
                        borderColor: [
                            '#F984CA',
                        ],
                        borderWidth: 2
                    },
                    {
                        label: "Active",
                        data: [{% for key , value in payments.items%}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        backgroundColor: [
                            'rgba(108,209,239,0.2)',
                        ],
                        borderColor: [
                            '#6CD1EF',
                        ],
                        borderWidth: 2
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>



{% endblock chart %}
