<div class="modal fade" id="json_modal" tabindex="-1" role="dialog" aria-labelledby=""
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="simulate_json_form">
                {% csrf_token %}
                <pre class="prettyprint" contenteditable="true"><code id="json_data"></code></pre>

                <div class="modal-footer">
                    <div class="d-flex justify-content-between flex-wrap">

                        <div class="d-flex justify-content-between align-items-end flex-wrap">
                            <button type="button" class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                                <i class="mdi mdi-download text-muted"></i>
                            </button>
                            <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                <i class="mdi mdi-clock-outline text-muted"></i>
                            </button>
                            <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                <i class="mdi mdi-plus text-muted"></i>
                            </button>
                            <button type="button" onclick="getJson()" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                <i class="mdi mdi-json text-muted"></i>
                            </button>
                            <button type="submit" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                <i class="mdi mdi-send text-muted"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=desert"></script>
<script>
    $(function ()  {
        PR.prettyPrint();
    });
    function pad(n) {
        return n < 10 ? '0' + n : n
    }
    function getJson(){
        alert("This method is not implemented!")
    }
    let amount = Math.floor((Math.random() * 10000) + 10);
    let now = new Date();
    let timestamp = now.getTime();
    let year = now.getFullYear();
    let month = (now.getMonth() + 1);
    let date = now.getDate();
    let hour = "0" + now.getUTCHours();
    let min = "0" + now.getMinutes();
    let sec = "0" + now.getSeconds();
    let timeDate = pad(year) + '-' + pad(month) + '-' + pad(date)
        + ' ' + hour.slice(-2)
        + ':' + min.slice(-2)
        + ':' + sec.slice(-2);
    const data = {
        "merchantTransactionID": timestamp,
        "customerFirstName": "Samson",
        "customerLastName": "Mwangi",
        "MSISDN": "{{ MSISDN }}",
        "customerEmail": "samson.mwangi@cellulant.com",
        "amount": amount,
        "currencyCode": "KES",
        "accountNumber": timestamp,
        "serviceCode": '{{ s_code }}',
        "dueDate": timeDate,
        "serviceDescription": "Getting service/good x",
        "countryCode": 'KE',
        "languageCode": "en",
        "successRedirectUrl": "",
        "failRedirectUrl": "",
        "paymentWebhookUrl": ""
    };
    document.getElementById("json_data").innerHTML = JSON.stringify(data, undefined, 2);

</script>