<div class="modal fade" id="json_modal" tabindex="-1" role="dialog" aria-labelledby=""
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="simulate_json_form">
                {% csrf_token %}
                <div class="modal-body">
                        <label for="json_data"></label>
                        <pre class="prettyprint" contenteditable="true" id="json_data"></pre>
                </div>
                <div class="modal-footer">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Simulate Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const random = Math.random();
    const data = {
        "merchantTransactionID": random,
        "customerFirstName": "Samson",
        "customerLastName": "Mwangi",
        "MSISDN": "{{ MSISDN }}",
        "customerEmail": "samson.mwangi@cellulant.com",
        "amount": "100",
        "currencyCode": "KES",
        "accountNumber": random,
        "serviceCode": '{{ s_code }}',
        "dueDate": "2019-08-19 12:14:00",
        "serviceDescription": "Getting service/good x",
        "countryCode": 'KE',
        "languageCode": "en",
        "successRedirectUrl": "",
        "failRedirectUrl": "",
        "paymentWebhookUrl": ""
    };

    document.getElementById("json_data").innerHTML = JSON.stringify(data, undefined, 2);

</script>