{% load i18n %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% blocktrans %}Create a new request{% endblocktrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'main_app:simulate' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="msisdn">{% trans 'Mobile Number' %}</label>
                        <input type="text" class="form-control form-control-sm" name="msisdn" id="msisdn"
                               value="{% if not empty %}{{ MSISDN }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="amount">{% trans 'Amount' %}</label>
                        <input type="text" class="form-control form-control-sm" name="amount" id="amount" value="1000">
                    </div>
                    <div class="form-group">
                        <label for="country">{% trans 'Country Code' %}</label>
                        <input type="text" class="form-control form-control-sm" name="country" id="country" value="KE">
                    </div>
                    <div class="form-group">
                        <label for="currency">{% trans 'Currency' %}</label>
                        <input type="text" class="form-control form-control-sm" name="currency" id="currency"
                               value="KES">
                    </div>
                    <div class="form-group">
                        <label for="timer">{% trans 'Session lifetime' %} <a class="text text-danger">* {% trans 'minutes' %}</a> </label>
                        <input type="text" class="form-control form-control-sm" name="timer" id="timer" value="3"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="experience">{% trans 'Experience' %} <span class="text text-success"><a
                                href="{% url 'admin:index' %}">{% trans 'Add More' %}</a> </span></label>
                        <select class="form-control form-control-sm" id="experience" name="experience">
                            {% for i in request_data %}
                                <option value="{{ i.unique_name }}">{{ i.display_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="payer_client">{% trans 'Single payment option:' %}</label>
                        <select class="form-control form-control-sm" name="payer_client" id="payer_client">
                            <option value="NULL">---------</option>
                            {% for country, value in payerClients.items %}
                                {% for key, value in value.items %}
                                    <option value={{ key|safe }}>{{ value.payerClientName }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" class="btn btn-sm btn-primary btn-icon-text">{% trans 'Launch' %}</button>
                </div>
            </form>

        </div>
    </div>
</div>