<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{% url 'main_app:simulate' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="msisdn">Mobile Number</label>
                        <input type="text" class="form-control form-control-sm" name="msisdn" id="msisdn"
                               value="{% if not empty %}{{ MSISDN }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control form-control-sm" name="amount" id="amount" value="1000">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control form-control-sm" name="country" id="country" value="KE">
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <input type="text" class="form-control form-control-sm" name="currency" id="currency"
                               value="KES">
                    </div>
                    <div class="form-group">
                        <label for="timer">Session lifetime <a class="text text-danger">* minutes</a> </label>
                        <input type="text" class="form-control form-control-sm" name="timer" id="timer" value="3"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience <span class="text text-success"><a
                                href="{% url 'admin:index' %}">Add More</a> </span></label>
                        <select class="form-control form-control-sm" id="experience" name="experience">
                            <option value="fastjet">FastJet</option>
                            <option value="ethiopian-airlines">Ethiopian Airline</option>
                            <option value="express">Default Express</option>
                            <option value="modal">Modal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="payer_client">Single payment option:</label>
                        <select class="form-control form-control-sm" name="payer_client" id="payer_client">
                            <option value="NULL">---------</option>
                            {% for country, value in payerClients.items %}
                                {% for key, value in value.items %}
                                    <option value={{ key|safe }}>{{ value.payerClientName }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm btn-outline-cellulant btn-icon-text">Launch</button>
                </div>
            </form>

        </div>
    </div>
</div>